.chatScreen_message{
    display: flex;
    align-items: center;
    padding: 20px;
}
.chatScreen_text{
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}
.chatScreen_timestamp{
    text-align: center;
    padding: 20px;
    color: gray;

}
.chatScreen_textuser{
    margin-left: auto;
    background-color: cyan;
    border-radius: 20px;
    padding: 15px;
    color: white;
}
.chatScreen_input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}
.chatScreen_inputfield{
    flex: 1;
    padding: 10px;
    border:none;
}
.input_button{
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bold;
    color: #fe3d71;
}